.input {
    padding: 0px;
    color: $color-oxford-blue;

    &--text {
        font-size: 25px;
        outline: none;
        box-shadow: 0px 1px 0px 0px $color-oxford-blue;
        width: 100%;
        transition: box-shadow .3s ease;

        &:focus {
            box-shadow: 0px 2px 0px 0px $color-orange-web;
        }
    }

    &--checkbox {
        display: flex;
        margin: 0px 8px 0px 0px;
        align-self: center;
    }

    &__message {
        font-size: 12px;

        &--error {
            color: red;
        }
    }
}