.booking-time-form {
    width: 100%;

    &__wrapper {
        display: flex;
        margin: 25px 0px;
    }

    &__title {
        font-weight: 700;
        text-decoration: underline;
        margin: 0px 0px 5px 0px;
        font-size: 14px;
        display: block;
    }

    &__fields-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: darken($color-white, 2);
        box-shadow: 2px 2px 10px darken($color-white, 10);
        padding: 25px 15px 15px 15px;
        margin: 15px 0px;
        position: relative;
    }

    &__field-wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 15px 0px;
    }

    &__actions {
        display: flex;
        margin: 15px 0px;
        justify-content: flex-end;
    }

    &__action {
        background-color: $color-oxford-blue;
        padding: 5px 25px;
        color: $color-white;
        transition: background-color .3s;

        &:hover,
        &:focus {
            background-color: $color-orange-web;
        }
    }

    &__close-button {
        position: absolute;
        top: 5px;
        right: 5px;
        background: svg-load('close.svg', stroke=#FF0000);
        height: 15px;
        width: 15px;
        background-position: center;
        background-size: cover;
    }
}
