.detail-page {
    &__title {
        margin: 0px 0px 25px 0px;
    }

    &__detail-grid {
        &--empty {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $color-white;
            width: fit-content;
            padding: 25px 100px;
            margin: 0 auto;
        }
    }

    &__detail-grid-action-panel {
        display: block;
        margin: 25px 0px 0px 0px;
    }

    &__detail-grid-content {
        display: block;
    }

    &__section {
        padding: 50px 25px;
        margin: 25px 0px;
        background-color: lighten($color-platinum, 5);
        box-shadow: 1px 1px 5px $color-oxford-blue;
    }
    
    &__sub-title {
        margin: 0px 0px 12px 0px;
    }
}